body{
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.satauri1{
    color: white;
}
.satauri2{
    color: white;
}
.paragrapi1{
    color: white;
}
.satauri3{
    color: white;
}
.p2{
    color: white;
}
.satauri4{
    color: white;
}
.p3{
    color: white;
}
.p4{
    color: white;
}